@import "./variaveis.scss";
@import "./mixins/mixinFlexAlign.scss";
@import "./mixins/mixinHeight&Width.scss";
@import "./mixins/mixinBg&Color.scss";
@import "./reset.scss";
@import "./root.scss";

.conta {
    font-size: 1.2vw;
    color: #ffffff;
}


.log {
    padding-bottom: 7%;
    color: #ffffff;
    font-size: 1.8vw;
    font-family: 'Arvo', serif;
}

h1{
    font-size: 3vw;
    color: #ffffff;
}

::placeholder {
    color: black; 
}

.container{
    @include flexAlign (center, center, row);
    @include heightWidth (100vh,100vw);
    background:url(../img/livro.jpg);
    background-size: cover;
}

main{
    @include heightWidth (70vh,60vw);
    display: flex;
}

.main2{
    @include flexAlign (normal, center, row);
    padding-top: 5%;
    border-radius: 5%;
    flex-basis: 40%;
    backdrop-filter: blur( .3vw );
    border: .2vw solid #943e0f;
    height: 60vh;
    
}

form{
    @include flexAlign (center, normal, column);
    width: 100%;
    gap: 3vh;
}

input{
    @include heightWidth (5vh, 70%);
    padding: 4%;
	border: none;
	border-radius: 4vw;
    font-size: .9vw;
}

.btn{
    @include heightWidth (5vh, 10vw);
    cursor: pointer;
    background: linear-gradient(50deg,#3e1b0a, #a3602d, #653216);
    border:  .1vw solid ;
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
    padding: 0%;
}