/* corrigir estilo da barra */
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5vw;
}
::-webkit-scrollbar {
    width: 1vw;               /* width of the entire scrollbar */
}
  

::-webkit-scrollbar {
    background-color: rgb(129, 129, 129);
    // border-radius: 5vw;
}