:root{
    --swiper-theme-color: #000000;
}

$headerColor: #2C1A1D; //header,footer,side
$bghColor: #e3dcd3; //fundo da home
$bglcColor:#a4907c; //fundo cadastro e login
$textlinkColor:#3C2A21; // cor de font com link
$fontColor: white; //titulos
$font2Color: black; //fonte de fundo branco
$buttonColor: #705548; //cor de butao
$hoverColor: #bcaa996e; // cor do over de butao
$togglebuttonColor:#6c534e; //cor do botao de toggle da side
$zapiconColor:#00ff00; //cor do icone do zapzap