@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600&family=Arvo&family=Kanit&family=Noto+Sans+TC:wght@500&display=swap%27");
:root {
  --swiper-theme-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  font-family: "Alkatra", cursive;
}

a {
  text-decoration: none;
}

/* corrigir estilo da barra */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5vw;
}

::-webkit-scrollbar {
  width: 1vw; /* width of the entire scrollbar */
}

::-webkit-scrollbar {
  background-color: rgb(129, 129, 129);
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  background-color: #2C1A1D !important;
  color: white !important;
  padding: 0 2.1%;
  gap: 12vw;
  background-size: contain no-repeat;
}
header a {
  color: white;
}
header .searchContainer {
  width: 25vw;
  display: flex;
}
header .logo {
  height: 8vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  gap: 1vw;
}
header .logo .logoimg {
  height: 100%;
  width: 20%;
  display: flex;
  margin-left: 0.5vw;
}
header .logo .logoimg img {
  height: 100%;
  width: 100%;
}
header nav {
  height: 10vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
}
header nav .categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
header nav ul {
  list-style: none;
}
header nav .subMenu {
  background-color: #9e7871 !important;
  color: white !important;
  height: 25vh;
  width: 30vw;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10vh;
  z-index: 3;
  border-radius: 0 0 1vw 1vw;
}
header nav .subMenu .particaoUl {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  max-height: 100%;
  width: 50%;
}
header nav .subMenu .particaoUl a {
  width: 50%;
  cursor: pointer;
  color: #fff;
}
header nav .subMenu .particaoUl a:hover {
  border-bottom: 0.1vh solid black;
  color: rgb(0, 0, 0);
}
header nav .subMenu #particaoUl1 {
  border-right: 0.1vw solid #DDDDDD;
}
header nav:hover .categorias {
  background: linear-gradient(0deg, rgb(0, 0, 0) 1%, rgba(9, 35, 121, 0) 13%, rgba(0, 212, 255, 0) 100%);
  border-bottom: black solid 0.2vw;
}
header nav:hover .subMenu {
  display: flex;
}
header form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  height: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 50rem;
  height: 50%;
}

.searchIcon {
  color: black;
}

.searchBoxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.3s;
}
.searchBoxIcon.borderRadius {
  border-radius: 0 35rem 50rem 0;
}

.searchInput {
  height: 100%;
  width: 0;
  background-color: rgb(255, 255, 255);
  font-size: 1vw;
  border: 0;
  box-shadow: 0.3vw 0.2vw 0.5vw #3d1916;
  border-radius: 50rem 0 0 50rem;
  transition: all 0.5s;
}
.searchInput.displayBlock {
  width: 90%;
  transition: all 0.7s;
}

.container {
  display: flex;
}

.sidebar, .b {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #2C1A1D !important;
  color: white !important;
  position: fixed;
  height: 100vh;
  transition: all 0.3s ease;
}
.sidebar .sidebarContainer, .b .sidebarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  gap: 8vh;
}
.sidebar .sidebarContainer .divIcon, .b .sidebarContainer .divIcon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding-left: 15%;
  height: 10vh;
  border-radius: 0.52vw;
  transition: 0.2s all ease;
}
.sidebar .sidebarContainer .divIcon i, .b .sidebarContainer .divIcon i {
  font-size: 2vw;
}
.sidebar .sidebarContainer .divIcon p, .b .sidebarContainer .divIcon p {
  color: white;
}
.sidebar .sidebarContainer .divIcon:hover, .b .sidebarContainer .divIcon:hover {
  background-color: rgba(188, 170, 153, 0.431372549);
  cursor: pointer;
}
.sidebar .particao1, .sidebar .particao3, .b .particao1, .b .particao3 {
  width: 100%;
  justify-content: center;
}
.sidebar .particao3, .b .particao3 {
  background-color: #e6d8c9;
  height: 0.1%;
}
.sidebar .toggle, .b .toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 5vh;
  width: 2.5vw;
  background-color: #6c534e !important;
  color: #dadada !important;
  position: absolute;
  top: 50%;
  font-family: boxicons !important;
  font-size: 1.8vw;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .toggle::before, .b .toggle::before {
  content: "\ea50";
}
.sidebar .button, .sidebar #input, .b .button, .b #input {
  display: none;
}
.sidebar .iconSidebar, .b .iconSidebar {
  font-size: 1.5vw;
  color: #ffffff;
}

.sidebar {
  width: 10vw;
}
.sidebar .display-none, .sidebar input {
  display: none;
}
.sidebar .toggle {
  right: -10%;
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .divIcon {
  justify-content: center;
  width: 5vw;
}

.b {
  width: 15vw;
}
.b .divIcon {
  width: 11vw;
  gap: 0.3vw;
}
.b .display-none {
  font-size: 1.2vw;
}
.b .toggle {
  right: -8%;
  transform: translateY(-50%) rotate(180deg);
}
.b .divIcon {
  justify-content: center;
  padding-left: 0.3vw;
}

main, .active {
  margin-left: 10vw;
  transition: all 0.3s ease;
}

.active {
  width: 85vw;
  margin-left: 15vw;
}

main {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  overflow: hidden;
}

.divCarousels {
  display: flex;
  align-items: normal;
  justify-content: normal;
  flex-direction: column;
  width: 95%;
  gap: 10vh;
}
.divCarousels .carousel {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2.5vw;
}
.divCarousels .carousel .text {
  width: 10vw;
  text-align: center;
  border: 0.2vw solid #6c534e;
  border-radius: 0 1vw 0 1vw;
  background-color: #e3dcd3;
}
.divCarousels .carousel .text h1 {
  font-size: 1.9vw;
}
.divCarousels .carousel .swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 45vh;
  width: 100%;
}
.divCarousels .carousel .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}
.divCarousels .carousel .swiper .swiper-slide .project-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 95%;
  gap: 6%;
}
.divCarousels .carousel .swiper .swiper-slide .project-img .carouselImg {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100%;
  width: 14%;
}
.divCarousels .carousel .swiper .swiper-slide .project-img .carouselImg img {
  height: 80%;
  width: 100%;
  position: relative;
}
.divCarousels .carousel .swiper .swiper-slide .project-img .carouselImg .carouselText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(112, 85, 72) !important;
  color: white !important;
  height: 20%;
  width: 100%;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 0 0 1vw 1vw;
}
.divCarousels .carousel .swiper .swiper-pagination {
  position: absolute;
  bottom: -300vh;
}
.divCarousels .carousel .swiper .swiper-pagination-bullet {
  height: 1vh;
}
.divCarousels .carousel .swiper .swiper-horizontal > .swiper-pagination-bullets, .divCarousels .carousel .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.divCarousels .carousel .swiper .swiper-pagination-custom, .divCarousels .carousel .swiper .swiper-pagination-fraction {
  bottom: -1%;
  left: 0;
  width: 100%;
}

footer {
  height: 15vh;
  width: 100%;
  background-color: #2C1A1D !important;
  color: white !important;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: row;
  gap: 20%;
}
footer p {
  font-size: 0.8vw;
}
footer .titulo {
  font-size: 1vw;
}
footer a {
  font-size: 1vw;
}
footer .divInfo {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  height: inherit;
  width: 60%;
  gap: 1%;
}
footer .divInfo .emailSuporte {
  display: flex;
  align-items: center;
  justify-content: between;
  flex-direction: column;
  width: 25%;
  gap: 20%;
}
footer .divInfo .emailSuporte p {
  font-size: 1vw;
}
footer .divInfo .localizacao, footer .divInfo .divTel, footer .divInfo .emailSuporte {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 0.1vw solid white;
  height: 100%;
}
footer .divInfo .endereco, footer .divInfo .tel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 30%;
  font-size: 1.5vw;
  gap: 5%;
}
footer .divInfo .localizacao {
  width: 30%;
}
footer .divInfo .localizacao .endereco {
  width: 100%;
}
footer .divInfo .localizacao .endereco p {
  width: 45%;
}
footer .divInfo .divTel {
  width: 20%;
}
footer .divInfo .divTel .iconFooter {
  font-size: 1.3vw;
}
footer .divInfo .divTel .tel {
  width: 80%;
}
footer .divInfo .divTel .tel #telefone {
  color: rgb(255, 255, 255);
}
footer .divInfo .divTel .tel #whatsapp {
  color: rgb(0, 255, 0);
}
footer .divInfo .socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 12.75%;
  gap: 8%;
}
footer .divInfo .socialIcons a {
  height: 4vh;
  width: 100%;
}
footer .divInfo .socialIcons a img {
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3vw;
}

.sidebar, .b, main {
  height: 90vh !important;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  padding-top: 1vh;
  gap: 10vh;
  overflow: auto;
  background-color: #e3dcd3;
}

.meio {
  height: 40vh;
  width: 100%;
}
.meio img {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=home.css.map */
